[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124"
verify_ssl = false
name = "pytorch"

[packages]
torch = { index = "pytorch", version = "*" }
pytorch-lightning = "*"
transformers = "*"
datasets = "*"
numpy = "*"
pandas = "*"
openai = "*"
peft = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
